<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>My App</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<div class="container">
		<h1><%= title %></h1>
		<ul>
			<% for(var i = 0; i < items.length; i++) { %>
				<li><%= items[i].title %></li>
			<% } %>
		</ul>
		<form action="/add" method="post">
			<label>Add: <input type="text" name="new_item" /></label>
			<input class="btn btn-default" type="submit" value="Add This" />
		</form>
	</div>
<script src="/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>